In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Crime Data
crime = pd.read_csv('crime.csv')

In [3]:
crime.head()

,TYPE,YEAR,MONTH,DAY,HOUR,NEIGHBOURHOOD,X,Y,DATE,DAY_WK,LAT,LONG
0,Theft from Vehicle,2003,10,6,9.0,Sunset,493059.11,5450912.60,2003-10-06,0,49.210965,-123.095299
1,Theft from Vehicle,2003,5,30,7.0,Grandview-Woodland,495033.26,5458722.97,2003-05-30,4,49.281241,-123.068290
2,Theft from Vehicle,2003,2,2,16.0,Grandview-Woodland,495033.26,5458722.97,2003-02-02,6,49.281241,-123.068290
3,Theft from Vehicle,2003,4,8,13.0,West End,491034.25,5459231.00,2003-04-08,1,49.285765,-123.123286
4,Theft from Vehicle,2003,5,5,7.0,Strathcona,493347.61,5458719.85,2003-05-05,0,49.281196,-123.091467

Exlcuding all location identifiers to train the prediction model to predict Neighbourhood

In [4]:
crime = crime[crime['YEAR']==2017]
#crime.head(30)

In [5]:
area=crime.groupby([crime["NEIGHBOURHOOD"]]).size().to_frame().reset_index().rename(columns={0:"Count"})
area.head()

               NEIGHBOURHOOD  Count
0              Arbutus Ridge    141
1  Central Business District   4314
2          Dunbar-Southlands    167
3                   Fairview    551
4         Grandview-Woodland    660

In [13]:
unlabeled = crime[crime.columns.drop('X')]
unlabeled = unlabeled[unlabeled.columns.drop('Y')]
unlabeled = unlabeled[unlabeled.columns.drop('LAT')]
unlabeled = unlabeled[unlabeled.columns.drop('LONG')]
unlabeled = unlabeled[unlabeled.columns.drop('DATE')]
unlabeled = unlabeled[unlabeled.columns.drop('TYPE')]
unlabeled = unlabeled[unlabeled.columns.drop('DAY_WK')]

In [14]:
unlabeled.head(20)

        YEAR  MONTH  DAY  HOUR              NEIGHBOURHOOD
166752  2017      8   20  10.0  Central Business District
166753  2017      5   22   1.0  Central Business District
166754  2017      5   16  21.0  Central Business District
166755  2017     12   15  10.0                 Riley Park
166756  2017     10   21  10.0                     Sunset
166757  2017     12   11  23.0  Central Business District
166758  2017     11    1  16.0  Central Business District
166759  2017      9    4  22.0  Central Business District
166760  2017      4   26  15.0  Central Business District
166761  2017      3   20   6.0  Central Business District
166762  2017      7   10  18.0                 Riley Park
166763  2017      6    9  12.0        Renfrew-Collingwood
166764  2017     11   22  15.0               Stanley Park
166765  2017      6   18  13.0               Stanley Park
166766  2017      3   21  19.0                   Fairview
166767  2017     12   13  15.0  Central Business District
166768  2017     10   10   2.0                    Marpole
166769  2017     12   22  17.0              Arbutus Ridge
166770  2017      1    8   0.0   Kensington-Cedar Cottage
166771  2017     12   24  20.0                    Marpole

In [15]:
unlabeled=unlabeled.groupby(['NEIGHBOURHOOD','YEAR']).mean().add_suffix('_avg').reset_index()
unlabeled.head(23)

                NEIGHBOURHOOD  YEAR  MONTH_avg    DAY_avg   HOUR_avg
0               Arbutus Ridge  2017   6.390071  14.808511  16.042553
1   Central Business District  2017   6.770051  15.052388  14.027816
2           Dunbar-Southlands  2017   7.419162  16.317365  15.538922
3                    Fairview  2017   7.087114  15.292196  14.176044
4          Grandview-Woodland  2017   7.251515  15.545455  14.101515
5            Hastings-Sunrise  2017   6.933333  15.144086  14.888172
6    Kensington-Cedar Cottage  2017   7.109890  15.127473  15.116484
7                  Kerrisdale  2017   7.433566  16.090909  15.664336
8                   Killarney  2017   7.285714  16.649351  15.251082
9                   Kitsilano  2017   6.875208  14.950083  15.246256
10                    Marpole  2017   7.648464  15.303754  13.976109
11             Mount Pleasant  2017   7.269029  15.417323  14.401575
12                   Musqueam  2017   9.666667  11.333333  15.500000
13                   Oakridge  2017   6.340426  16.765957  15.276596
14        Renfrew-Collingwood  2017   7.522487  15.691799  14.695767
15                 Riley Park  2017   7.131737  15.000000  15.047904
16                Shaughnessy  2017   6.924528  15.018868  12.893082
17               South Cambie  2017   6.953125  14.164062  15.601562
18               Stanley Park  2017   6.583333  16.364583  14.343750
19                 Strathcona  2017   7.440828  14.970414  13.643491
20                     Sunset  2017   7.430464  15.718543  14.466887
21        Victoria-Fraserview  2017   7.078189  15.419753  14.065844
22                   West End  2017   6.938489  14.576450  14.584359

In [16]:
unlabeled.to_csv('no_location.csv', index =False)